.padding-zero{padding: 0;};
.padding-top-zero{padding-top: 0;};
.padding-left-zero{padding-left: 0;};
.padding-right-zero{padding-right: 0;};
.padding-bottom-zero{padding-bottom: 0;};
.padding-top-xsmall{padding-top: $xsmall;};
.padding-left-xsmall{padding-left: $xsmall;};
.padding-right-xsmall{padding-right: $xsmall;};
.padding-bottom-xsmall{padding-bottom: $xsmall;};
.padding-top-small{padding-top: $small;};
.padding-left-small{padding-left: $small;};
.padding-right-small{padding-right: $small;};
.padding-bottom-small{padding-bottom: $small;};
.padding-top-medium{padding-top: $medium;};
.padding-left-medium{padding-left: $medium;};
.padding-right-medium{padding-right: $medium;};
.padding-bottom-medium{padding-bottom: $medium;};
.padding-top-large{padding-top: $large;};
.padding-left-large{padding-left: $large;};
.padding-right-large{padding-right: $large;};
.padding-bottom-large{padding-bottom: $large;};
.padding-top-xlarge{margin-top: $xlarge;};
.padding-left-xlarge{margin-left: $xlarge;};
.padding-right-xlarge{margin-right: $xlarge;};
.padding-bottom-xlarge{margin-bottom: $xlarge;};

.margin-zero{margin: 0;};
.margin-top-zero{margin-top: 0;};
.margin-left-zero{margin-left: 0;};
.margin-right-zero{margin-right: 0;};
.margin-bottom-zero{margin-bottom: 0;};
.margin-top-xsmall{margin-top: $xsmall;};
.margin-left-xsmall{margin-left: $xsmall;};
.margin-right-xsmall{margin-right: $xsmall;};
.margin-bottom-xsmall{margin-bottom: $xsmall;};
.margin-top-small{margin-top: $small;};
.margin-left-small{margin-left: $small;};
.margin-right-small{margin-right: $small;};
.margin-bottom-small{margin-bottom: $small;};
.margin-top-medium{margin-top: $medium;};
.margin-left-medium{margin-left: $medium;};
.margin-right-medium{margin-right: $medium;};
.margin-bottom-medium{margin-bottom: $medium;};
.margin-top-large{margin-top: $large;};
.margin-left-large{margin-left: $large;};
.margin-right-large{margin-right: $large;};
.margin-bottom-large{margin-bottom: $large;};
.margin-top-xlarge{margin-top: $xlarge;};
.margin-left-xlarge{margin-left: $xlarge;};
.margin-right-xlarge{margin-right: $xlarge;};
.margin-bottom-xlarge{margin-bottom: $xlarge;};

@mixin padding-tb($size) {
  padding-top: $size;
  padding-bottom: $size;
}
.padding-tb-zero { @include padding-tb(0); }
.padding-tb-xsmall { @include padding-tb($xsmall); }
.padding-tb-small { @include padding-tb($small); }
.padding-tb-medium { @include padding-tb($medium); }
.padding-tb-large { @include padding-tb($large); }
.padding-tb-xlarge { @include padding-tb($xlarge); }

@mixin padding-lr($size) {
  padding-left: $size;
  padding-right: $size;
}
.padding-lr-zero { @include padding-lr(0); }
.padding-lr-xsmall { @include padding-lr($xsmall); }
.padding-lr-small { @include padding-lr($small); }
.padding-lr-medium { @include padding-lr($medium); }
.padding-lr-large { @include padding-lr($large); }
.padding-lr-xlarge { @include padding-lr($xlarge); }

@mixin margin-tb($size) {
  margin-top: $size;
  margin-bottom: $size;
}
.margin-tb-zero { @include margin-tb(0); }
.margin-tb-xsmall { @include margin-tb($xsmall); }
.margin-tb-small { @include margin-tb($small); }
.margin-tb-medium { @include margin-tb($medium); }
.margin-tb-large { @include margin-tb($large); }
.margin-tb-xlarge { @include margin-tb($xlarge); }

@mixin margin-lr($size) {
  margin-left: $size;
  margin-right: $size;
}
.margin-lr-zero { @include margin-lr(0); }
.margin-lr-xsmall { @include margin-lr($xsmall); }
.margin-lr-small { @include margin-lr($small); }
.margin-lr-medium { @include margin-lr($medium); }
.margin-lr-large { @include margin-lr($large); }
.margin-lr-xlarge { @include margin-lr($xlarge); }

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
