// --------------------- grid system
.own-grid {
  .container{
    width : 100%;
    max-width : 900px;
    margin: 0 auto;

    .row:before,
    .row:after {
      content:"";
      display: table ;
      clear:both;
    }

    [class*='col-'] {
      min-height: 1px;
      float: left;
    }
  }

  .col-5{width: 50%;}

  @media all and (max-width: $tablet){
    h1, h2, h3, h4, h5, h6, p, span{
      padding: 0 $small;
    }
  }

  @media all and (max-width: $phablet){
    .col-5{width: 100%;}
  }
}