nav {
  position: fixed;
  z-index: 10;
  height: $normal-menu-height-1;
  width: 100%;
  background: $dark-grey-bg;
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  li {
    display:inline-block;
    vertical-align:middle;
    float: left;
    @include calc('height', '100% - 30px');
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover{
      background-color: #8c99a4;
    }
  }
  a{
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    &#navTitle {
       display: none;
     }
  }
  .burger-menu{
    display: none;
  }
}

@media only screen and (max-width : $phablet) {
  nav {
    height: $normal-menu-height-2;
    ul {
      position: fixed;
      right: -$small-menu-width;
      top: 0;
      background: $dark-grey-bg;

      display: block;
      height: 100%;
      width: $small-menu-width;
      li{
        display: block;
        float: none;
        padding: 20px;
        height: auto;
      }
    }
    .burger-menu{
      display: block;
      position: absolute;
      right: 0;
      background-color: $black-bg;
      height: $normal-menu-height-2;
      width: $normal-menu-height-2;
      background-image: url("../img/menu55.png");
      background-position: center;
      background-size: 30%;
      background-repeat: no-repeat;
    }
  }

  #navTitle {
    display: block!important;
    padding: 1.8em;

  }
}

@media only screen and (max-width : $phone) {
  nav {
    .burger-menu{
      height: $normal-menu-height-3;
      width: $normal-menu-height-3;
    }
    height: $normal-menu-height-3;
  }
  #navTitle {
    padding: 1.2em;
  }
}
