@media all and (max-width: $phablet){
  body{
    font-size: 90%;
  }
  header{
    padding-top: 150px;
    height: 200px;
  }
  #first-info{
    height: 150px;
    .arrow{
      width: 143px;
      height: 150px;
    }
    .text{
      font-size: 1em;
    }
  }
}