@media all and (max-width: $tablet){
  header{
    padding-top: 200px;
    height: 350px;
  }
  #first-info{
    height: 235px;
    .arrow{
      width: 220px;
      height: 235px;
    }
    .text{
      font-size: 1.4em;
    }
  }

}