@media all and (max-width: $phone){
  body{
    font-size: 70%;
  }
  header{
    padding-top: 50px;
    height: 120px;
  }
  #first-info{
    height: 75px;
    .arrow{
      width: 70px;
      height: 75px;
    }
  }
}
