$xsmall: 5px;
$small: 10px;
$medium: 20px;
$large: 30px;
$xlarge: 50px;

$tablet: 980px;
$phablet: 640px;
$phone: 404px; // todo: do zmiany an 320px,

$color-white: rgb(255, 255, 255);
$color-blue: rgb(8, 140, 165);
$color-light-purple: rgb(169, 151, 185);

$header-bg-1: rgb(25, 180, 200);
$header-bg-2: rgb(7, 135, 165);

$grey-bg: rgb(235, 235, 235);
$dark-grey-bg: rgb(55, 60, 63);
$black-bg: rgb(32, 37, 41);
$almost-black-gb: rgb(39, 33, 44);
$pink-gb: rgb(188, 49, 132);

$small-menu-width: 200px;

$normal-menu-height-1: 97px;
$normal-menu-height-2: 75px;
$normal-menu-height-3: 40px;


@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

