@import "../vendor/owlCarousel2/owl.carousel.css";
@import "variables";
@import "gridSystem";
@import "global";
@import "menu";
@import "RWDpc";
@import "RWDtablet";
@import "RWDphablet";
@import "RWDphone";

@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 0;
  padding: 0;
  margin: 0;
}


header{
  color: $color-white;
  background: -webkit-linear-gradient(left top, $header-bg-1 , $header-bg-2);
  background: -o-linear-gradient(bottom right, $header-bg-1, $header-bg-2);
  background: -moz-linear-gradient(bottom right, $header-bg-1, $header-bg-2);
  background: linear-gradient(to bottom right, $header-bg-1 , $header-bg-2);
  .title{
    font-weight: 100;
  }
  .title-with-arrow{
    &:after{
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      margin: 5px 40% 0 0;
      float: right;
      background-image: url("../img/arrow487.png");
      background-size: contain;
    }
  }
  .arrow{
    height: 30px;
    width: 30px;
    background-size: 1.2em;
  }
}

#first-info{
  background-color: $almost-black-gb;
  .arrow{
    right: 0;
    background-color: $pink-gb;
    background-size: 2em;
  }
  span.text{
    color: $color-light-purple;
  }
}

#second-info{
  background-color: $grey-bg;
  .title{
    color: $color-blue;
    font-weight: 300;
  }
  p, span{
    line-height: 1.8em;
  }

}
footer{
  background-color: $almost-black-gb;
  color: $color-white;
  font-size:0.7em;
  p{
    text-align: center;
    margin: 0;
  }
}

.arrow{
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url("../img/arrow487.png");
  background-position: center;
  background-repeat: no-repeat;
}

.owl-controls{
  display: none; // fix on lib owl
}



